/*
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

 Blue: hsl(246, 80%, 60%)

- Light red (work): hsl(15, 100%, 70%)
- Soft blue (play): hsl(195, 74%, 62%)
- Light red (study): hsl(348, 100%, 68%)
- Lime green (exercise): hsl(145, 58%, 55%)
- Violet (social): hsl(264, 64%, 52%)
- Soft orange (self care): hsl(43, 84%, 65%)

### Neutral-

- Very dark blue: hsl(226, 43%, 10%)
- Dark blue: hsl(235, 46%, 20%)
- Desaturated blue: hsl(235, 45%, 61%)
- Pale Blue: hsl(236, 100%, 87%)

## Typography

### Body Copy

- Font size: 18px (card titles e.g. Work, Play)

### Font

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 300, 400, 500

*/

:root {
     --main-blue: hsl(246, 80%, 60%);
     --light-red-work: hsl(15, 100%, 70%);
     --soft-blue-play: hsl(195, 74%, 62%);
     --light-red-study: hsl(348, 100%, 68%);
     --lime-green-exercise: hsl(145, 58%, 55%);
     --violet-social: hsl(264, 64%, 52%);
     --soft-orange-self-care: hsl(43, 84%, 65%);

     --very-dark-blue: hsl(226, 43%, 10%);
     --dark-blue: hsl(235, 46%, 20%);
     --desaturated-blue: hsl(235, 45%, 61%);
     --pale-blue: hsl(236, 100%, 87%);
}
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     background-color: var(--very-dark-blue);
     font-family: "Rubik", sans-serif;
     font-size: 18px;
}

.app-container {
     padding: 60px 20px;
     .app-profile-wrap {
     }

     .app-all-cards-wrap {
     }
}

.profile-container {
     border-radius: 10px;
     overflow: hidden;
     background-color: var(--dark-blue);
     min-width: 300px;
     max-width: 400px;
     .top {
          padding: 30px 20px;
          // background-color: rgb(95, 80, 233);
          background-color: var(--main-blue);
          color: white;
          border-radius: 0 0 10px 10px;
          display: flex;
          // justify-content: space-between;
          align-items: center;
          gap: 20px;
          .info {
               display: flex;
               flex-direction: column;
               gap: 5px;
               .for {
                    font-size: 0.75rem;
                    font-weight: 300;
                    color: var(--pale-blue);
               }
               .name {
                    font-weight: 300;
                    font-size: 1.3rem;
               }
          }
          .img-wrap {
               width: 60px;
               height: 60px;
               border-radius: 50%;
               border: 3px solid white;
               img {
                    width: 100%;
               }
          }
     }
     .bottom {
          ul {
               list-style: none;
               padding: 20px;
               font-size: 0.9rem;
               display: flex;
               justify-content: space-between;
               // flex-direction: column;
               gap: 5px;

               li {
                    color: var(--desaturated-blue);
                    cursor: pointer;
                    &:hover {
                         color: white;
                    }
               }
          }
     }
}

.card-container {
}
